[Desktop Entry]
Encoding=UTF-8
Name=OilWar
Comment=A very simple mouse shooting game
Comment[pl]=Bardzo prosta strzelanka
Icon=OilWar.png
Exec=oilwar
Terminal=false
Type=Application
Categories=Application;Game;ArcadeGame;
# vi: encoding=utf-8
