[Desktop Entry]
Name=OilWar
Comment=A very simple mouse shooting game
Comment=Bardzo prosta strzelanka
Icon=OilWar.png
Exec=oilwar
Terminal=0
Type=Application
Categories=Application;Games;Arcade;
# vi: encoding=utf-8
