[Desktop Entry]
Name=OilWar
Comment=A very simple mouse shooting game
Comment[pl]=Bardzo prosta strzelanka
Icon=OilWar
Exec=oilwar
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
